* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

main {
    width: 80%;
    margin:25px auto;
}

.header1 {
    display: table;
    margin-left: 10%;
    border-right: 1px solid #e5e5e5;
}

header img {
    width: 50%;
}

.firstSection {
    margin: 25px auto;
}

.contenitoreBanner {
    width: 100%;
    background-color: lawngreen;
}

.bannerImage {
    object-fit: cover;
}

.secondSection {
    background-color: #0086ff;
    margin-bottom: 10px;
}

.secondSection div {
    background-color: #abcfe7;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.barraAlto {
    width: 100%;
    background-color: #abcfe7;
}

.sidebarSinistra {
    width: 30%;
}

.middleContainer {
    width: calc(40% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}

.sidebarDestra {
    width: 30%;
}

.clearfix::after {
    content: '';
    display: table;
    clear: left;
}

footer {
    background-color: #8801fe;
    width: 100%;
    height: 50px;
}
/*#e579e6
#e1d67a
#abcfe7
#0086ff
#8801fe
*/
