* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 80%;
    margin:25px auto;
}

.header1 {
    width: 80%;
    background-color: #e579e6;
    height: 100px;
    margin: auto;
}

.firstSection {
    background-color: #e1d67a;
    height: 400px;
    margin: 25px auto;
    width: 100%;
}

.secondSection {
    background-color: #0086ff;
    height: 600px;
    margin-bottom: 10px;
}

.secondSection div {
    background-color: #abcfe7;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.barraAlto {
    width: 100%;
    background-color: #abcfe7;
}

.sidebarSinistra {
    width: 30%;
}

.middleContainer {
    width: 38%;
    margin-left: 10px;
    margin-right: 10px;
}

.sidebarDestra {
    width: 30%;
}

.clearfix::after {
    content: '';
    display: table;
    clear: left;
}

footer {
    background-color: #8801fe;
    width: 100%;
    height: 50px;
}
/*#e579e6
#e1d67a
#abcfe7
#0086ff
#8801fe
*/
