* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header {
    width: 80%;
    margin: auto;
}

.logo {
    width: 20%;
    padding-right: 20px;
    box-sizing: content-box;
    border-right: 1px solid #e7e7e7;
}

ul {
    list-style-type: none;
    margin: 50px 0px;
}

a:hover {
    background-color: #d3d3d3;
    opacity: 0.7;
    border-radius: 3px;
}

a {
    text-decoration: none;
    color: #a0a0a0;
    font-size: 20px;
    font-weight: lighter;
}

li {
    display: inline-block;
    margin: 0px 10px;
}

main {
    width: 80%;
    margin: auto;
}

.Section1 {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
}

.Banner1 {
    object-fit: cover;
    width: 100%;
    height: 600px;
    border-radius: 15px;
    filter: brightness(0.8);
}

h1 {
    position: absolute;
    bottom: 150px;
    left: 30px;
    width: 70%;
    font-weight: 350;
    text-align: left;
    font-size: 40px;
    line-height: 45px;
}

h2 {
    position: absolute;
    width: 50%;
    bottom: 90px;
    left: 30px;
    font-weight: 300;
    text-align: left;
}