* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header1 {
    width: 80%;
    margin: auto;
}

.logo {
    width: 15%;
    padding-right: 20px;
    box-sizing: content-box;
    border-right: 1px solid #e7e7e7;
}

ul {
    list-style-type: none;
    margin: 50px 0px;
    margin-left: -10px;
}

a:hover {
    background-color: #d3d3d3;
    opacity: 0.7;
}

a {
    text-decoration: none;
    color: #d3d3d3;
    font-size: 20px;
}

li {
    display: inline-block;
    margin: 0px 10px;
}

main {
    width: 80%;
    margin: auto;
}

.Section1 {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
}

.Banner1 {
    object-fit: cover;
    width: 100%;
    height: 600px;
    border-radius: 15px;
    filter: brightness(0.8);
}

h1 {
    position: absolute;
    bottom: 140px;
    left: 50px;
    width: 70%;
    font-weight: 350;
    text-align: left;
    font-size: 40px;
    line-height: 45px;
}

h2 {
    position: absolute;
    width: 50%;
    bottom: 80px;
    left: 50px;
    font-weight: 300;
    text-align: left;
    line-height: 30px;
}

.section2Title {
    width: 100%;
    font-weight:700;
    font-size: 40px;
}

.Section2Header div:last-of-type {
    color: #b1b1b1;
    font-size: 17px;
}


.Section2Header {
    margin-top: 20px;
    margin-bottom: 40px;
}


.sidebarSinistra, .sidebarDestra {
    width: calc((100% - 60% - 2rem) / 2);
    float: left;
}

.MiddleContainer {
    width: 60%;
    float: left;
    margin-right: 1rem;
    margin-left: 1rem;
}


.Section2 img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    filter: brightness(0.8);
}

.rounded {
    border-radius: 10px;
}

.TitoloColonne {
    font-weight: 500;
    margin: 10px 0px;
    color: black;
}

.clearfix::after {
    content: '';
    display: table;
    clear: left;
}

.col {
    color: #b1b1b1;
}

footer {
    text-align: center;
    width: 100%;
    float: left;
    margin-top: 20px;
}